<div class="page-width">
  <div class="empty-page-content text-center">
    <h1>OH SNAP PEAS! Sorry but this link didn't work out, I will let Zack know, thanks!</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
